:root {
    --dark-green: #1b3d2f;
    --white: #ffffff;
    --light-gray: #f8f9fa;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--white);
    color: #333;
    scroll-behavior: smooth;
}

.bg-dark-green {
    background-color: var(--dark-green) !important;
}

.text-dark-green {
    color: var(--dark-green) !important;
}

a {
    color: var(--dark-green);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* LOGO */
.logo {
    height: 65px;
    width: auto; /* Mantém a proporção original */
    object-fit: contain;
    margin-right: 10px;
    border-radius: 40%;
}

.logo:hover {
    transform: scale(1.08);
}
/*.spacer-top {
    margin-top: 30px;
}
*/


/* ANIMAÇÕES */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-in-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.animated-logo {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

.animated-logo.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-text.visible {
    opacity: 1;
    transform: translateY(0);
}
.card-equipa {
    background-color: #003300; /* tom escuro para destacar imagem */
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid white;
}

.card-equipa:hover {
    transform: scale(1.03);
}

.perfil-img {
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
}

.equipa-info {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.nome-completo {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.nickname {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.equipa-titulo {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
}
.texto-descricao {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.equipa-descricao {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

.equipa-titulo {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
}

